<section class="container-fluid">

  <h1 class="text-center"><%= @user.name if @user.name %></h1>

  <section class="row center-block">

    <div class="col-md-2"></div>

    <section id="my-cities" class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">My Cities</h3>
        </div>
        <div class="list-group" style="padding-bottom: 32px;">
          <% @user.cities.each do |city| %>
              <%= link_to city.full_name, city_path(city), class: "list-group-item", style: "padding-top: 9px; padding-bottom: 9px;" %>
          <% end %>
          </div>
      </div>
    </section>


  
  

    <section id="my-rankings" class="col-md-5">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">My Rankings</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Ranking</th>
                <th>City</th>
                <th>Win %</th>
                <th>Total Matchups</th>
              </tr>
            </thead>
            <tbody>

            <% @user.cities_by_win_ratio.each_with_index do |city, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= link_to city.full_name, city_path(city) %></td>
                <td><%= city.win_percentage_display_by_user(@user) %></td>
                <td><%= city.total_by_user(@user) %></td>
              </tr>

            <% end %>

              </tbody>
            </table> 
          </div>
        </div>
    </section>

  </section>

      <section class="row center-block">
      <section id="recent-matchups" class="col-md-12">
        <h2 class="text-center">Recent Matchups</h2>
        <hr>
          <% @user.recent_matchups(10).each do |matchup| %>
            <% point = matchup.points.first %>
            <% competitor = matchup.points.second %>
            <div "row">
              <div class="col-md-5">
                <div class="panel panel-default">
                  <div class="panel-body" style='background: url(<%= point.image_link(476, 357) %>) no-repeat center center; background-size: cover; height: 357px;'>
                  </div>
                  <div class="panel-footer"><%= link_to "#{point.street_address}, #{point.city.name}", point_path(point) %></div>
                </div>
              </div>
              <div class="col-md-2 text-center">
                  <% if matchup.won?(point.city) %>
                      <div class="outcome won">BEAT</div>
                  <% else %>
                      <div class="outcome lost">LOST TO</div>
                  <% end %>
              </div>
              <div class="col-md-5">
                <div class="panel panel-default">
                  <div class="panel-body" style='background: url(<%= competitor.image_link(476, 357) %>) no-repeat center center; background-size: cover; height: 357px;'>
                  </div>
                  <div class="panel-footer"><%= link_to "#{competitor.street_address}, #{competitor.city.name}", point_path(competitor) %></div>
                </div>
              </div>
            </div>

          <% end %>

        
      </section>
    </section>

</section>