<section class="container-fixed">
<div id="chooser" class="center-block" style="margin-bottom: 10px;">
  <%= form_tag(matchups_path, method: "get", id: "matchup-chooser", class: "text-center") do %>
    <select class="chooser" name="city_1" id="city-1" city-id="<%= @city_1.id %>" >
      <%= options_from_collection_for_select(City.all, :id, :full_name, @city_1.id) %>
    </select><br>
    vs.<br>
    <select class="chooser" name="city_2" id="city-2" city-id="<%= @city_2.id %>" >
      <%= options_from_collection_for_select(City.all, :id, :full_name, @city_2.id) %>
    </select>
    <%= submit_tag "Go", class: "submit" %>
  <% end %>
</div>
</section>




<div id="map-canvas-1"></div>

<div id="map-canvas-2"></div>

<section class="container-fluid">

  <section class="views" class="row">

    <section id="view-1" class="col-md-6">
      <div id="pano-1" style="min-height:75vh; margin-bottom: 5px; border-radius: 15px;">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <%= form_for Matchup.new, remote: true, authenticity_token: true do |f| %>
        <%= f.hidden_field :city_1, {value: @city_1.id} %>
        <%= f.hidden_field :city_2, {value: @city_2.id} %>
        <%= f.hidden_field :winning_city, {value: @city_1.id} %>
        <%= f.hidden_field :losing_city, {value: @city_2.id} %>
        <%= f.fields_for :winning_coords do |wf| %>
          <%= wf.hidden_field :lat %>
          <%= wf.hidden_field :long %>
        <% end %>
        <%= f.fields_for :losing_coords do |lf| %>
          <%= lf.hidden_field :lat %>
          <%= lf.hidden_field :long %>
        <% end %>
        <%= f.submit "Vote", {class: "center-block btn btn-lg btn-primary"} %>
      <% end %>

    </section>

    <section id="view-2" class="col-md-6">
      <div id="pano-2" style="min-height:75vh; margin-bottom: 5px; border-radius: 15px;">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <%= form_for Matchup.new, remote: true, authenticity_token: true do |f| %>
        <%= f.hidden_field :city_1, {value: @city_1.id} %>
        <%= f.hidden_field :city_2, {value: @city_2.id} %>
        <%= f.hidden_field :winning_city, {value: @city_2.id} %>
        <%= f.hidden_field :losing_city, {value: @city_1.id} %>
        <%= f.fields_for :winning_coords do |wf| %>
          <%= wf.hidden_field :lat %>
          <%= wf.hidden_field :long %>
        <% end %>
        <%= f.fields_for :losing_coords do |lf| %>
          <%= lf.hidden_field :lat %>
          <%= lf.hidden_field :long %>
        <% end %>
        <%= f.submit "Vote", {class: "center-block btn btn-lg btn-primary"} %>
      <% end %>

    </section>


  </section>

</section>