<section class="container-fluid">

  <h1 class="text-center"><%= @city.full_name %></h1>

  <% if @city.has_matchups? %>

  <section class="row center-block">
    <% if current_user && user_ranking = @city.user_ranking(current_user) %>
      <div class="col-md-3"></div>
      <div class="col-md-3"><h2 class="text-center">Global Ranking: #<%= @city.ranking %></h2></div>
      <div class="col-md-3"><h2 class="text-center">Your Ranking: #<%= user_ranking %></h2></div>
      <div class="col-md-3"></div>
    <% else %>
      <div class="col-md-4"></div>
      <div class="col-md-4"><h2 class="text-center">Global Ranking: #<%= @city.ranking %></h2></div>
      <div class="col-md-4"></div>
    <% end %>
  </section>


    <section class="row center-block">
      <section class="col-md-6">


    
        <section id="stats" class="col-md-5">

          <div class="panel panel-primary" style="height: 450px;">
            <div class="panel-heading">
              <h2 class="panel-title">Stats</h2>
            </div>
            <div class="panel-body">
                <p><strong>Total Matchups:</strong> <%= @city.total %></p>
                <p><strong>Overall Win Percentage:</strong> <%= @city.win_percentage_display %></p>
                <p><strong>Record:</strong> <%= "#{@city.wins} — #{@city.losses}" %></p>
            </div>
          </div>
        </section>

        <section class="col-md-7">

          <div class="panel panel-primary" style="height: 450px; overflow: scroll;">
            <div class="panel-heading">
              <h2 class="panel-title">Competitors</h2>
            </div>
            <div class="panel-body">
              <h4><%= @city.name %> has won:</h4>
              <ul>
                <% @city.competitors_by_win_ratio.each do |competitor| %>
                  <li>
                    <%= @city.win_percentage_display_against(competitor) %> of <%= @city.total_against(competitor) %> matchups against <strong><%= link_to competitor.full_name, city_path(competitor) %></strong>
                  </li>

                <% end %>
              </ul>

            </div>
          </div>


        </section>

      </section>

      <section id="map" class="col-md-6" style="margin-top: -25px;">
        <div id="map-container" style="height: 450px; width: 600px; border-radius: 16px 16px; border-color: #fff; border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; margin-top: 25px; border-width: 7px;">
          <div id="map-canvas" style="height: 436px; width: 100%;"></div>
        </div>
      </section>
    </section>
    <section class="row center-block">
      <section id="recent-matchups" class="col-md-12">
        <h2 class="text-center">Recent Matchups</h2>
        <hr>
          <% @city.recent_matchups(10).each do |matchup| %>
            <% point = matchup.point_by_city(@city) %>
            <% competitor = matchup.competitor(point) %>
            <div "row">
              <div class="col-md-5">
                <div class="panel panel-default">
                  <div class="panel-body" style='background: url(<%= point.image_link(476, 357) %>) no-repeat center center; background-size: cover; height: 357px;'>
                  </div>
                  <div class="panel-footer"><%= link_to "#{point.street_address}, #{point.city.name}", point_path(point) %></div>
                </div>
              </div>
              <div class="col-md-2 text-center">
                  <% if matchup.won?(@city) %>
                      <div class="outcome won">BEAT</div>
                  <% else %>
                      <div class="outcome lost">LOST TO</div>
                  <% end %>
              </div>
              <div class="col-md-5">
                <div class="panel panel-default">
                  <div class="panel-body" style='background: url(<%= competitor.image_link(476, 357) %>) no-repeat center center; background-size: cover; height: 357px;'>
                  </div>
                  <div class="panel-footer"><%= link_to "#{competitor.street_address}, #{competitor.city.name}", point_path(competitor) %></div>
                </div>
              </div>
            </div>

          <% end %>

        
      </section>
    </section>

  <% else %>

    <h3><%= @city.name %> hasn't had any matchups yet!</h3>

  <% end %>

</section>