<h1><%= @city.name %></h1>

<ul>
  <li>Total Matches: <%= @city.total %></li>
  <br>
  <li>Winning Percentage: <%= @city.win_percentage_display %></li>
  <br>
  <li>Record: <%= "#{@city.wins} — #{@city.losses}" %></li>
</ul>

<!-- Endlose in IF STATEMENT -->

  <h2>Most Recent Winner(s)</h2>

    <% @winning_coords.each do |pair| %>
      <img src ="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%= pair.first %>,<%= pair.last %>&fov=90&heading=34&pitch=10">
  <% end %>

<!-- END IF STATEMENT -->
