<section class="container-fluid">

  <h1 class="text-center"><%= @city.full_name %></h1>

  <% if @city.has_matchups? %>

  <section class="row center-block">
    <% if user_ranking = @city.user_ranking(current_user) %>
      <div class="col-md-3"></div>
      <div class="col-md-3"><h2>Global Ranking: #<%= @city.ranking %></h2></div>
      <div class="col-md-3"><h2>Your Ranking: #<%= user_ranking %></h2></div>
      <div class="col-md-3"></div>
    <% else %>
      <div class="col-md-4"></div>
      <div class="col-md-4"><h2>Global Ranking: #<%= @city.ranking %></h2></div>
      <div class="col-md-4"></div>
    <% end %>
  </section>


    <section class="row center-block">

    
      <section id="stats" class="col-md-2">
        <h2>Stats</h2>
        <ul>
          <li>Total Matches: <%= @city.total %></li>
          <br>
          <li>Winning Percentage: <%= @city.win_percentage_display %></li>
          <br>
          <li>Record: <%= "#{@city.wins} — #{@city.losses}" %></li>
        </ul>
      </section>

      <section class="col-md-3">
        <h2>Competitors</h2>

        <h4><%= @city.name %> has won:</h4>
        <ul>
          <% @city.competitors_by_win_ratio.each do |competitor| %>
            <li>
              <%= @city.win_percentage_display_against(competitor) %> of <%= @city.total_against(competitor) %> matchups against <strong><%= link_to competitor.full_name, city_path(competitor) %></strong>
            </li>

          <% end %>
        </ul>


      </section>

      <section id="map" class="col-md-6">
        <div id="map-container" style="height: 450px; width: 600px; border-radius: 16px 16px; border-color: #fff; border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; margin-top: 25px; border-width: 7px;">
          <div id="map-canvas" style="height: 436px; width: 100%;"></div>
        </div>
      </section>
    </section>
    <section class="row center-block">
      <div class="col-sm-1"></div>
      <section id="recent-matchups" class="col-md-11">
        <h2>Recent Matchups</h2>

        <ul>

          <% @city.recent_matchups(10).each do |matchup| %>
            <% point = matchup.point_by_city(@city) %>
            <% competitor = matchup.competitor(point) %>
          <li>
            <strong><%= image_tag point.image_link(200) %> <%= link_to "#{point.street_address}, #{point.city.name}", point_path(point) %></strong> <%= (matchup.won?(@city) ? "beat" : "lost to") %> <%= image_tag competitor.image_link(200) %> <strong><%= link_to "#{competitor.street_address}, #{competitor.city.name}", point_path(competitor) %></strong>
          </li>

          <% end %>

        </ul>
      </section>
    </section>

  <% else %>

    <h3><%= @city.name %> hasn't had any matchups yet!</h3>

  <% end %>

</section>